# Supabase environment variables (local development only)
# ⚠️ NEVER commit this file to Git!


NEXT_PUBLIC_SUPABASE_URL=https://oqthzjdcewnhlmekfsip.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_-ZInl5siX7yYjWrCWuzG7Q_3ilZ1GSv
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9xdGh6amRjZXduaGxtZWtmc2lwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDU1MTA0NywiZXhwIjoyMDkwMTI3MDQ3fQ.tm52b4omG_J1mM5RGJexftJQ-bCuIBCEd9pc9MDh-Ns
